/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
  } */
  
  .calculator {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }
  
  .calculator-screen {
    width: 100%;
    height: 80px;
    background-color: #252525;
    color: #fff;
    border: none;
    font-size: 2.5em;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  button {
    height: 60px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #eaeaea;
  }
  
  .operator {
    background-color: #f9a825;
    color: white;
  }
  
  .operator:hover {
    background-color: #f57f17;
  }
  
  .equal-sign {
    background-color: #4caf50;
    color: white;
    grid-column: span 2;
  }
  
  .equal-sign:hover {
    background-color: #388e3c;
  }
  
  .all-clear {
    background-color: #d32f2f;
    color: white;
  }
  
  .all-clear:hover {
    background-color: #c62828;
  }
  